###########################
#WebStorm Files
###########################
.idea/

###########################
#NPM Files
###########################
node_modules/
npm-debug.log

###########################
#Angular2 Files
###########################
app/*.js
app/*.js.map
app/calendar/*.js
app/calendar/*.js.map
